* {
    padding: 0px;
    margin: 0px;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
    display: block;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 10px 0px;
}

header {
    border-bottom: solid 1px red;
}

.container-logo {
    height: 100px;
}

.logo {
    height: 100px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
}

.logo .fono {
    height: 40px;
    margin-left: 25px;
}

.menu-bar {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

ul {
    display: flex;
}

a {
    display: flex;
    background-color: transparent;
    align-items: center;
    font-size: 16px;
    padding: 5px 10px;
    margin: 1px 3px;
    border-radius: 5px;
    transition: all 0.5s ease 0s;

}

li {

    text-decoration: none;
    display: flex;
    transition: .05s;


}

a:hover {
    background-color: #BE1622;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

header li a:hover {
    color: rgb(0, 0, 0);
    font-weight: 800;
    transition: .5s;
}


header a:last-child {
    border-width: 2px;
    border-style: solid;
    border-color: #BE1622;
    border-image: initial;
}

a {
    text-decoration: none;
    color: black;
}

a.hambur {
    position: relative;
    display: flex;
    align-items: center;
    display: none;
}

.ham {
    display: flex;
    align-items: center;
}

.modal {
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index: 500;
}


.modal--show {
    opacity: 1;
    position: fixed;
    display: flex;
    transition: .4s all;
    pointer-events: unset;
    transform: scale(1);
    z-index: 100;
}


.modal .modal__container {
    display: contents;
    background-color: #ffffff;
    margin: 30px;
    width: 90%;
    max-width: 700px;
    max-height: 100%;
    border-radius: 6px;
    top: 0;
    display: grid;
    gap: 0.2em;
    place-items: center;
    grid-auto-columns: 100%;
    position: initial;
}

.modal .modal__container nav {
    display: block;
}

.modal .modal__container nav ul {
    display: block;
}

.modal .modal__container nav ul a {
    display: flex;
    background-color: transparent;
    align-items: center;
    font-size: 16px;
    padding: 5px 10px;
    margin: 1px 3px;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
}

.modal .modal__container nav ul a li {
    text-decoration: none;
    display: flex;
    transition: .5s;
}













section.portada {
    height: 100vh;
    width: 100%;
    background-image: url(imagenes/uña.jpg);
    background-size: cover;
    z-index: 10;
}














section.login {
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}


.ring {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}




.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}

.ring:hover i {
    border: 5px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate (360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate (0deg);
    }
}

.login {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.login .inputBx input {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border-radius: 40px;
    font-size: 1.2em;
    color: #000000;
    box-shadow: none;
    outline: none;
}

.login .inputBx input[type="submit"] {
    width: 100%;
    background: #0078ff;
    background: linear-gradient(45deg, #BE1622, #fff);
    border: none;
    cursor: pointer;
}

.login .inputBx input::placeholder {
    color: rgba(0, 0, 0, 0.75);
}

.login .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.login .links a {
    color: #000000;
    text-decoration: none;
}

.login .links a:hover {
    color: #ffffff;
    text-decoration: none;
}








section {
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;


}

section.cursos {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;


}

section.videos {
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;


}

.video {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}


.container_curso {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #e5e5e5;
    width: 300px;
    height: 450px;
    border-radius: 10px;
}

.container_info {
    padding: 10px;

}

.container_img {
    border-radius: 10px;
    display: flex;
    justify-content: center;

}

.container_img img {
    padding: 10px;
    height: 200px;
    width: auto;
    display: flex;
    border-radius: 10px;
}
















section.modulos {
    display: flex;
    justify-content: space-between;
    background-color: #e8e8e8;
    height: auto;

}

p {
    margin: 20px;
}

section.modulos .col-teacher {
    background-color: #e0e0e0;
    display: block;
    width: 30%;
    height: auto;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
}

section.modulos .col-teacher .img {
    display: flex;
    justify-content: center;

}

section.modulos .col-teacher .img img {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #000000;
    border-radius: 50%;
    margin: 50px 0;
}


section.modulos .col-modulos {
    height: auto;
    display: block;
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    width: 70%;
}

section.modulos .col-modulos .modulos .mod ul {
    display: block;

}

section.modulos .col-modulos h2 {
    display: block;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
}

section.modulos .col-modulos .modulos .mod ul li {
    display: block;
    background-color: #c9c9c9;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}


section.modulos .col-modulos .modulos .mod ul li:hover {
    background-color: #eaeaea;
}

section.modulos .col-modulos .modulos .mod ul h3 {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
}

section.modulos .col-modulos .modulos .mod {
    background-color: #d0d0d0;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
}










section.botones {
    display: flex;
    background-color: #cfcfcf;
    padding: 10px;
}

section.botones ul {
    display: flex;
    justify-content: space-around;

}

section.botones ul li {
    background-color: #eaeaea;
    display: flex;
    padding: 5px 30px;
    margin: 0 30px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

section.botones ul li:hover {
    background-color: #fafafa;
    border-color: solid 1px #000000;
}






/*

MEDIA QUERIES PÁGINA CURSO INTRODUCCIÓN FOTOGRAFIA

*/

@media only screen and (max-width: 950px) {
    .fono {
        display: none;
    }
    section.modulos {
        flex-direction: column-reverse;
    }
    
}

@media only screen and (max-width: 600px) {
    .menu-bar {
        display: none;
    }

    a.hambur {
        display: flex;
    }
   
    

    .menu-bar {}

}












/*

MEDIA QUERIES PÁGINA CURSO INTRODUCCIÓN FOTOGRAFIA

*/

@media only screen and (max-width: 950px) {}

@media only screen and (max-width: 100px) {
    section.modulos {
        display: flex;
        flex-direction: reverse;
    }

}





section.titulo{
    width: 100%;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.titulo .titulo{
    width: 50%;
    top: 25px;
    display: block;
    justify-content: center;
    align-items: center;
}