body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(0, 0, 0, 0);
    display: flex;
    height: 100px;
    width: 200px;
    align-items: center;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;

}
h2{
    font-size: 4rem;
    position: absolute;
}
.border{
    color: black;
    text-shadow: 
     -1px -1px 0 white, 
      1px -1px 0 white,
      1px 1px 0 white,
      -1px 1px 0 white;

}
.wave{
    color: #09f;
    animation: wave 3s ease-in-out infinite;
}
@keyframes wave{
    0% , 100%{
        clip-path: polygon(
            0% 47%,
            10% 48%,
            33% 54%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }

    50%{
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }

}