* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #494949;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px 40px;
    padding: 20px 20px;
    transition: 1.5s;

}

.container .custom-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 330px;
    max-width: 100%;
    height: 250px;
    border-radius: 20px;
    transition: 5.5s;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 2);
}



.container .custom-card:hover {
    height: 325px;
    transition: 4.5s;
    top: 50px;
    margin-bottom: 100px;
    transition: 2.5s;
}

.container:hover {



}

.container .custom-card .img-box {
    position: absolute;
    top: 15px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 4.5s;
}

.container .custom-card:hover .img-box {
    top: -60px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 2);
    transition: 0.5s;
    
}


.container .custom-card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .custom-card .custom-content {
    position: relative;
    top: 150px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
}

.custom-content{
    display: none;
    opacity: 0;
    transition: 5s;
    top: -200px;
}

.container .custom-card:hover .custom-content {
    display: block;
    transition: 5s;
    opacity: 1;
    top: 130px;
    height: 250px;
    transition: 6s;
}



.container .custom-card .custom-content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    margin-top: 20px;
}

.container .custom-card .custom-content p {
    position: relative;
    color: #333;
    top: 1px;

}

.container .custom-card:hover .custom-content p {
    color: #333;

}

.container .custom-card .custom-content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: #181818;
    color: #fff;
    font-weight: 500;
    border-radius: 20px;
}

.container .custom-card .custom-content a:hover {
    opacity: 0.5;
    
}

@media (max-width: 480px) {
    .container .custom-card {
        width: 325px;
        border-radius: 15px;
    }
}

.container .custom-card .img-box {
    
    border-radius: 10px;
}


.container .custom-card .custom-content p {
    font-size: 0.8em;
}

.container .custom-card .custom-content a {
    font-size: 0.9rem;
}