/*
.portada {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;


}
.slider::before {
  content: '';
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 1;
}

.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  opacity: 0.95;
}

.carousel::before {
  content: '';
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 1;
  position: absolute;
  display: flex;
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: slide 12s infinite;
  opacity: 0;
  transition: all 0.5s ease;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.carousel-item-1 {
  animation-delay: 0s;
}

.carousel-item-2 {
  animation-delay: 2s;
}

.carousel-item-3 {
  animation-delay: 4s;
}

.carousel-item-4 {
  animation-delay: 6s;
}

.carousel-item-5 {
  animation-delay: 8s;
}

.carousel-item-6 {
  animation-delay: 10s;
}


.slider {
  
  display: flex;
  width: 100%;
  height: 80%;
  background-size: 100% 100%;
  animation: slider 30s linear infinite;
  
}



@keyframes slider {
  0% {
    background-image: url(c1.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    object-fit: contain;
  }
  
  
  20% {
    background-image: url(c2.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: left bottom;
    object-fit: contain;
    
  }
  
  40% {
    background-image: url(/img/portada/c1.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: left top;
    object-fit: contain;
    
  }
  
  60% {
    background-image: url(/img/portada/c4.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: left bottom;
    object-fit: contain;
    
  }
  
  80% {
    background-image: url(/img/portada/c5.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: left top;
    object-fit: contain;
    
  }
  
  100% {
    background-image: url(/img/portada/c6.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: left bottom;
    object-fit: contain;
    
  }
}

*/