@media (max-width: 1180px) {
  .cart {
    height: ;
  }
  .main .portada .carousel {
  }
  section.titulo {
    height: 20px;
  }
  section.titulo h2.t1 {
    font-size: 25px;
    padding: 1px;
  }
}

@media (max-width: 610px) {
  .main .portada .carousel {
    object-position: top;
  }
  .cart {
    height:;
  }
  section.titulo h2.t1 {
    font-size: 20px;
    padding: 1px;
  }
  
}


/**/
@media only screen and (max-width: 600px) {
  body {
    background-color: #87ceeb;
  }
  h1 {
    color: #de3163;
  }
}

