
@media (max-width: 1180px) {
  .cart {
    height: 650px;
  }
  .portada{
    height: 75vh;
  }
  .slider{
    height: 75vh;
  }
  .carousel{
    height: 75vh;
  }

  section.titulo {
    height: 20px;
  }

  section.titulo h2 {
    font-size: 30px;
    padding: 1px;
  }
}

@media (max-width: 610px) {
  .cart {
    height: 1150px;
  }

  section.titulo h2 {
    font-size: 20px;
    padding: 1px;
  }

  section.titulo {
    height: 10px;
  }
}


/**/
@media only screen and (max-width: 600px) {
  body {
      background-color: #87ceeb;
  }
  h1 {
      color: #de3163;
  }
}
