section.somos{
    margin-top: 10px;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor{

    max-width: 90%;
    min-height: 260px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
}


.contenedor .contimg{
    display: flex;
    flex: 1 0 240px;
    min-height: 100%;
    max-height: 350px;
    background-color: rgb(163, 95, 95);
    align-items: center;
    justify-content: center;
}
.continfo{
    padding: 10px;
    flex: 3 1 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
}
.contenedor .contimg img{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(30, 30, 30);
    border-radius: 20% 30% 40% 20% / 40% 30% 40% 30%;
}








.contenedor h2, p{
    color: aliceblue;
}
.contenedor h2{
    display: flex;
    position: relative;
    color: aliceblue;
    width: 50%;

    
}



