body{
    background: #009FFF;  
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  
    background: linear-gradient(to right, #ec2F4B, #009FFF); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
main{
    width: 730px;
    margin: 100px auto;
    display: flex;
    align-items: center;
}
.section1{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
h1{
    text-align: center;
}
button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
.section2{
    background-color: rgba(255, 255, 255, 0.2);
    width: 200px;
    height: 400px;
    border-top-right-radius:8px ;
    border-bottom-right-radius:8px ;
    padding: 0 20px ;
}
.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}