body{
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(fondo.avif);
    background-size:cover;
    filter: blur(0px);
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flor{
    height: 100vh;
    display: flex;
    align-items: center;
}
.fondo{
    display: flex;
    width: 100%;
    height: 100vh;
}
