*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .ring{
    display: flex;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    animation: rotar 4s linear infinite;
    filter: blur(5px);

}

.container .ring:nth-child(2){
    display: flex;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #fff;
    animation: rotar2 4s linear infinite;
}

@keyframes rotar{
    0%{
        transform: rotateX(0deg);
        scale: 0.2;

    }
    80%{
        transform: rotateX(360deg);
        scale: 0.7;

    }
    100%{
        transform: rotateX(0deg);
        scale: 0.2;

    }
}

@keyframes rotar2{
    0%{
        transform: rotateY(0deg);
        scale: 0.3;
    }
    80%{
        transform: rotateY(360deg);
        scale: 0.7;
    }
    100%{
        transform: rotateY(0deg);
        scale: 0.3;
    }
}

.container .ring:nth-child(3){
    
    display: flex;
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid #fff;
    animation: rotar3 4s linear infinite;
    filter: blur(2px);
    animation: rotar4 4s linear infinite;

}

.container .ring:nth-child(3):before{
    content: '';
    display: flex;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 10px solid #fff;
    top: 12px;
    right: 12px;

}


@keyframes rotar3{
    0%{
        scale: 0;
    }
    80%{
        scale: 0.8;
    }
    100%{
        scale: 0.4;
    }
}

@keyframes rotar4 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.container .ring:nth-child(4){
    
    display: flex;
    position: absolute;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 2px solid #fff;
    animation: rotar3 4s linear infinite;
    filter: blur(2px);
    animation: rotar4 4s linear infinite;
    animation-delay: -2s;

}

.container .ring:nth-child(4):after{
    content: '';
    background-image: url(tierra.png);
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    border: 10px solid #0180ff;
    top: 40px;
    right: 40px;

}