* {
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@font-face {
    font-family: 'Ludotek';
    src: url(/Proyectos/ludotek/LUDETEK\ MAYUS.otf) format('truetype');
}

body {
    display: block;
    height: 100vh;
    background-color: #003973;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Ludotek';
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


section.modelado {
    display: block;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.container-modelado {
    display: block;
}

.container-iframe {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}


spline-viewer {
    display: flex;
    width: 70%;
    height: 500px;
    transition: 0.2s;

}











section.info {
    display: block;
    height: 100vh;
    padding: 50px 0;
}

section.info .container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s;
}

section.info .container .cont {
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    display: flex;
}

section.info .container .cont .contImg {
    width: 50%;
    display: flex;
    height: 850px;
    transition: 0.2s;

}

section.info .container .cont .contImg img.film {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    height: 900px;
    border-radius: 50px;
    transition: 0.2s;

}





section.info .container .contInfo {
    padding: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    display: block;
    height: 450px;
    background-color: #1C3C6D !important;
    border-radius: 30px;
    color: white;
    letter-spacing: 1px;
    transition: 0.2s;

}

section.info .container .contInfo h2 {
    margin-top: 25px;

}













@media only screen and (max-width: 700px) {
    spline-viewer {
        transition: 0.2s;
        display: flex;
        width: 100%;
        height: 500px;
        margin: 0;
    }

}

@media only screen and (max-width: 900px) {
    spline-viewer {
        display: flex;
        width: 100%;
        height: 500px;
    }



}