



section.galleryBtn{
    padding: 30px;
    margin: 10px 0;
    width: 100%;
    height: 100px;
    display: block;
    justify-content: center;
    align-items: center;
}
section.galleryBtn .container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;

}
section.galleryBtn .infoGallery{
    width: 500px;
    background-color: bisque;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.galleryBtn .container .galleryBtn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

section.galleryBtn .galleryBtn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


section.galleryBtn .galleryBtn button{
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    justify-content: space-around;
    background-color: #ffffff;
    font-size: 15px;
}
section.galleryBtn .galleryBtn button:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}







section.cartas {
    font-family: 'Arial', sans-serif;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}



.gallery {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px 100px;
    justify-content: center;
}


.flip-card {
    display: flex;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-front img {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

.flip-card-back img {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

.flip-card-inner {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    transform: rotateY(180deg);
}


/* Media queries para ajustar el tamaño de las cartas según el tamaño de la pantalla */
@media (max-width: 768px) {
    .card {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 60%;
    }
}


@media (max-width: 995px) {
    .card {
        width: 200px;
        height: 150px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 975px) {
    .container {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 576px) {
    .card {
        height: 150px;
    }
}






