* {
    padding: 0px;
    margin: 0px;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
    display: block;
    height: 100vh;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: solid 1px #1C3C6D;
    align-items: center;
}

.container-logo {
    height: 80px;
}

.container-logo .logo {
    height: 100px;
    display: flex;
    align-items: center;
}

.logo img {
    width: auto;
    height: 50px;
    display: block;
}

.logo .iso {
    height: 60px;
    width: auto;
}

.logo .fono {
    height: 40px;
    margin-left: 25px;
}

.menu-bar {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

ul {
    display: flex;
}

a {
    display: flex;
    background-color: transparent;
    align-items: center;
    font-size: 16px;
    padding: 10px 20px;
    margin: 1px 3px;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
}

li {
    text-decoration: none;
    display: flex;
    transition: .05s;
}

a:hover {
    transition: all 0.5s ease 0s;    background-color: #C48B3F;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 800;
}

header li a:hover {
    color: rgb(0, 0, 0);
    font-weight: 800;
    transition: .5s;
}


a {
    text-decoration: none;
    color: black;
}

a.hambur {
    position: relative;
    display: flex;
    align-items: center;
    display: none;
    padding: 5px 10px;
    height: 50px;
}

.ham {
    display: flex;
    align-items: center;
}



img {
    display: block;
    transform: scale(0.95);
    transition: .9s all;
    scroll-behavior: auto;
    overflow-y: auto;
    width: 90%;

}



/*SECCION PORTADA*/


.portada {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -40px;
  }
  
  .slider-frame {
    width: 100%;
    height: 100vh;
    margin: 50px auto 0;
    overflow: hidden;
  }
  
  
  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
  
    animation: slide 20s infinite alternate ease-in-out;
  }
  
  .slider-frame li {
    width: 100%;
    list-style: none;
  }
  
  .slider-frame img {
    width: 100%;
  }
  
  @keyframes slide {
    0% {
      margin-left: 0;
    }
  
    20% {
      margin-left: 0;
    }
  
    25% {
      margin-left: -100%;
    }
  
    45% {
      margin-left: -100%;
    }
  
    50% {
      margin-left: -200%;
    }
  
    70% {
      margin-left: -200%;
    }
  
    75% {
      margin-left: -300%;
    }
  
    100% {
      margin-left: -300%;
    }
  }
  
  
















/*SECCION DE ANIMACION PORTADA*/
/*Animación de cuadrados*/

section.animacion {
    background-color: #c48a3f00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80%;
    margin-bottom: 30px;

}


.cuadrados {
    top: 30px;
    background-color: #ffcd3600;
    width: 60%;
    height: 75vh;
    display: flex;
    margin: 25px;
    justify-content: center;
    scale: 0.8;

}

section.animacion .cuadrados .cuadrado {
    display: flex;
    margin: 10px;
    padding: 50px;
    height: 50px;
    width: 50px;
    background-color: #1C3C6D;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 2px;
    text-align: start;

    animation: animaCuadrados 0.5s forwards;
    animation-delay: 0s;

}

section.animacion .cuadrados .cua1 {
    animation: animaCua1 0.5s forwards;
    animation-delay: 0.5s;
}

section.animacion .cuadrados .cua2 {
    animation: animaCua2 0.5s forwards;
    animation-delay: 1s;
}

section.animacion .cuadrados .cua3 {
    animation: animaCua3 0.5s forwards;
    animation-delay: 1.5s;
}

@keyframes animaCuadrados {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(300px);
    }
}

@keyframes animaCua1 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);

    }

    100% {
        transform: translate(-150px, 350px) rotate(45deg);

    }
}

@keyframes animaCua2 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);

    }

    100% {
        transform: translate(-150px, 175px) rotate(45deg);
    }
}

@keyframes animaCua3 {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: translate(-150px, 10px) rotate(45deg);
    }
}

section.animacion .cuadrados h2 {
    text-align:left;
    display: flex;
    animation: titulo 1.5s forwards;
    animation-delay: 2s;
    transform: rotate(-45deg);
    z-index: 2;
    opacity: 0;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@keyframes titulo {
    0% {
        transform: translate(0px, 0px) rotate(-45deg);
        opacity: 0;

    }

    20% {
        transform: rotate(-45deg);
        opacity: 1;

    }

    40% {
        opacity: 1;

    }

    100% {
        transform: translate(250px, 0px) rotate(-45deg);
        opacity: 1;

    }

}










/*

GALERIA

*/




/*

SECCION INFORMACION INICIO

*/
section.info{
    display: block;
    height: 100vh;

}

section.info .container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1C3C6D;

}

section.info .container .cont{
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    display: flex;
    height: 85%;
    background-color: #C48B3F;
}
section.info .container .cont .contImg{
    width: 50%;
    display: flex;
    height: 900px;
}
section.info .container .cont .contImg img.film{
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    height: 900px;
    
}



section.info .container .contImg img:nth-child(1){
    scale: 0.8;
    transform: translateX(75%);
}
section.info .container .contImg:hover img:nth-child(1){
    transform: translateX(-50px) rotate(10deg);
}

section.info .container .contImg img:nth-child(2){
    z-index: 1;
}
section.info .container .contImg:hover img:nth-child(2){
}


section.info .container .contImg img:nth-child(3){
    scale: 0.8;
    transform: translateX(-75%);
}
section.info .container .contImg:hover img:nth-child(3){
    transform: translateX(50px) rotate(-20deg);
}




section.info .container .contInfo{
    padding: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    display: block;
    height: auto;
    background-color: #C48B3F;
}

section.info .container .contInfo h2{
    margin-top: 50px;
}
/* FIN */






















/*

SECCION MAPA

*/










/*MEDIA QUERIES*/
@media only screen and (max-width: 500px) {
    header .fono {
        display: none;
    }
    .cuadrados{
        width: 500px;
    }


}

@media only screen and (max-width: 900px) {
    .menu-bar {
        display: none;
    }
    .cuadrados{
        width: 500px;
        scale: 0.5;
    }

    a.hambur {
        display: flex;
    }

    .menu-bar {}

    section.info .container{
        display: block;
    }
    section.info{
        margin-top: -300px;
        margin-bottom: 550px;

    }

}