* {
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

}

@font-face {
    font-family: 'Ludotek';
    src: url(/Proyectos/ludotek/LUDETEK\ MAYUS.otf) format('truetype');
}

body {
    display: block;
    height: 100vh;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}



h2 {
    font-family: 'Ludotek';
    margin: 20px;
}


/*SECCION PORTADA*/


.portada {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
}

.slider-frame {
    width: 100%;
    height: 100vh;
    margin: 50px auto 0;
    overflow: hidden;
}


.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}









section.video {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

}





/*SECCION ANIMADA DE ESPIRAL*/

section.anima {
    height: 75%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C3C6D;
    overflow: hidden;
    font-size: 62.5%
}

/* The @property CSS at-rule is part of the CSS Houdini umbrella of APIs. It */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.spiral {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    color: #e0ecef;
    font-family: "sans-serif";
}

@keyframes spiral {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}

.character {
    font-size: 2.8rem;
    color: #C7893E;
    text-transform: uppercase;
    transform: translateY(calc(sin(var(--angle)) * 100px)) scale(calc(cos(var(--angle)) * 0.5 + 0.5));
    animation: spiral 4s linear infinite;
}

@media (max-width: 490px) {
    .character {
        font-size: 2.2rem
    }
}


/*SECCION DE ANIMACION PORTADA*/
/*Animación de cuadrados*/

section.animacion {
    background-color: #c48a3f00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin-bottom: 40px;
    scale: 0.3;
    margin-top: 50px;
    z-index: 3;
}


.cuadrados {
    top: 30px;
    background-color: #ffcd3600;
    width: 60%;
    height: 80%;
    display: flex;
    margin: 25px;
    justify-content: center;
    scale: 0.3;

}

section.animacion .cuadrados .cuadrado {
    display: flex;
    margin: 10px;
    padding: 50px;
    height: 50px;
    width: 50px;
    background-color: #1C3C6D;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 2px;
    text-align: start;

    animation: animaCuadrados 0.5s forwards;
    animation-delay: 0s;

}

section.animacion .cuadrados .cua1 {
    animation: animaCua1 0.5s forwards;
    animation-delay: 0.5s;
}

section.animacion .cuadrados .cua2 {
    animation: animaCua2 0.5s forwards;
    animation-delay: 1s;
}

section.animacion .cuadrados .cua3 {
    animation: animaCua3 0.5s forwards;
    animation-delay: 1.5s;
}

@keyframes animaCuadrados {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(300px);
    }
}

@keyframes animaCua1 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);

    }

    100% {
        transform: translate(-150px, 350px) rotate(45deg);

    }
}

@keyframes animaCua2 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);

    }

    100% {
        transform: translate(-150px, 175px) rotate(45deg);
    }
}

@keyframes animaCua3 {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: translate(-150px, 10px) rotate(45deg);
    }
}

section.animacion .cuadrados h2 {
    text-align: left;
    display: flex;
    animation: titulo 1.5s forwards;
    animation-delay: 2s;
    transform: rotate(-45deg);
    z-index: 2;
    opacity: 0;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@keyframes titulo {
    0% {
        transform: translate(0px, 0px) rotate(-45deg);
        opacity: 0;

    }

    20% {
        transform: rotate(-45deg);
        opacity: 1;

    }

    40% {
        opacity: 1;

    }

    100% {
        transform: translate(250px, 0px) rotate(-45deg);
        opacity: 1;

    }

}










/*

GALERIA

*/




/*

SECCION INFORMACION INICIO

*/
section.info {
    display: block;
    height: 100vh;

}

section.info .container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

section.info .container .cont {
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    display: flex;
    height: 85%;
}

section.info .container .cont .contImg {
    width: 50%;
    display: flex;
    height: 800px;
    background-color: #1C3C6D;
}

section.info .container .cont .contImg img.film {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    height: 900px;
}



section.info .container .contImg img:nth-child(1) {
    scale: 1.2;
    transform: translateX(75%);
}

section.info .container .contImg:hover img:nth-child(1) {
    transform: translateX(-50px) rotate(10deg);
}

section.info .container .contImg img:nth-child(2) {
    scale: 1.8;

    z-index: 1;
}

section.info .container .contImg img:nth-child(2):hover {
    scale: 2;
}


section.info .container .contImg img:nth-child(3) {
    scale: 1.2;
    transform: translateX(-75%);
}

section.info .container .contImg:hover img:nth-child(3) {
    transform: translateX(50px) rotate(-20deg);
}




section.info .container .contInfo {
    padding: 20px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    display: block;
    height: 450px;
    background-color: #1C3C6D !important;
    border-radius: 30px;
    color: white;
    letter-spacing: 1px;
}

section.info .container .contInfo h2 {
    margin-top: 50px;
}

section.info .c-info {
    background-color: white;
}


.equipo-link {
    color: white;
    background-color: #C48B3F;
    padding: 20px 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 25px 25%;
    display: flex;
    text-decoration: none;
    font-weight: 900;
}

.equipo-link:hover {
    background-color: white;
    color: black;
    border-color: #1C3C6D solid 3px !important;
}




/* FIN */






















/*

FOOTER

*/

footer {
    background-image: url(img/footer.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: block;
    background: linear-gradient(to right, #1C3C6D, #C7893E);
    height: 300px;
    width: 100%;
}








/*MEDIA QUERIES*/
@media only screen and (max-width: 500px) {
    header .fono {
        display: none;
    }

    .cuadrados {
        width: 500px;
    }



}

@media only screen and (max-width: 900px) {
    .menu-bar {
        display: none;
    }

    .cuadrados {
        width: 500px;
        scale: 0.5;
    }

    a.hambur {
        display: flex;
    }

    .menu-bar {}

    section.info .container {
        display: block;
    }

    section.info {
        margin-top: -300px;
        margin-bottom: 550px;

    }

    section.info .container .cont .contImg {

        height: 500px;
        margin-bottom: -300px;

    }

    section.info .container .contInfo {
        height: 450px;
        top: -100px;
    }

}