* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}
section{
    display: block;
    position: relative;
    margin: 1px;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 250px 75px;
}

.container .ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #00AAEE;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container .ring::before {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #00AAEE;
    box-shadow: 0 0 0 5px #00AAEE,
        0 0 0 10px #00AAEE,
        0 0 0 20px #00AAEE,
        0 0 30px #00AAEE,
        0 0 40px #00AAEE;
    filter: blur(3px);
}

.container .ring:nth-child(2) {
    animation: animate2 4s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #F7008A;
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.container .ring:nth-child(2)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #F7008A;
    box-shadow: 0 0 0 5px #F7008A,
        0 0 0 10px #F7008A,
        0 0 0 20px #F7008A,
        0 0 30px #F7008A,
        0 0 40px #F7008A;
    filter: blur(3px);
}

.container .ring:nth-child(3) {
    animation: animate2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #F7EC00;
}

.container .ring:nth-child(3)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #F7EC00;
    box-shadow: 0 0 0 5px #F7EC00,
    0 0 0 10px #F7EC00,
    0 0 0 20px #F7EC00,
    0 0 30px #F7EC00,
    0 0 40px #F7EC00;
    filter: blur(3px);
}