body{
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
canvas{
    border: solid 3px #585858;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8%;
    left: 45%;
    border-radius:5px ;
    box-shadow: 5px 0px 15px 3px rgba(1, 1, 1, 0.8);

}
button{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 200px;
    height: 100px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #6aa4bd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 10px ;    
}