@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{


    font-family: 'Roboto', sans-serif;
}





/*PORTADA - COVER*/

main{
    height: 600px;
}

.container__cover{
    max-width: 200px;
    margin: auto;
}

.cover{
    padding-top: 10px;
    display: flex;
}




/*BANNER*/

.container__banner{
    max-width: 100%;
    margin: 10px 0px;
    margin-top: 10px;

}

.banner{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    background: #3157b4;
    box-shadow: 0 60px 60px -60px rgba(0, 1, 5, 0.9);

    position: relative;
}

.banner .icon{
    width: 40%;
}

/*

.banner .text{
    width: 60%;
    position: static;
    margin: 0 50px;
}

.banner .text h2{
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.banner .text input{
    margin-top: 20px;
    margin-right: ;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
    
    .banner .text input:hover{
        color: #69F1A1;
    }
    
}*/


#icon_pop{
    width: 400px;
    height: 500px;
    margin-top: 1px;
    position:relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,1));
    object-fit:fill;
    
}
#icon_locura{
    width: 700px;
    height: 500px;
    margin-top: 1px;
    position:relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,1));
    object-fit:fill;

}


