/* INICIO - ESTILOS DEL CARRUSEL*/
header{
    width: 100%;
    margin: 0;

}
#contItemcarrucel{
   
    height: 290px;
    overflow: hidden;
    width: 100%;

}
.itemcarrucel{
    width: 100%;
    height: 100%;
    position: relative;

}
.tarjetascarrucel{
    width: 100%;
    height: 100%;
}
.flechas{
    
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#carrucel-1{
    background-color: rgb(0, 0, 0);

}

#carrucel-2{
    background-color: rgb(222, 133, 69);

}
#carrucel-3{
    background-color: rgb(160, 64, 64);
}
a{
    text-decoration: none;
}
i{
    color: white;
}
#contepuntos{
    margin: 0 50%;
    width: 100px;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    content: center;
}
#contepuntos > a{
    
    font-size: 3.5em;
    font-style: none;
    color: rgb(0, 0, 0);
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,1));

}
img{
    width: 100%;
    
    object-fit: cover;
    
}

/* FIN ESTILOS DEL CARRUSEL*/