body{
    background-color: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0)95%);
}

body{
    display: inline-block;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgb(16, 18, 23)95%);
}

section{    
  height: 1000px;
  display: block;
  justify-content: center;
  align-items: center;
  background-image: url(fondo.jp);
  background-image: cover;
  object-fit: cover;
  background-repeat: no-repeat;

}

.separador{


    display: flex;
    text-align: center;
    margin: 10px 10%;
    
}
.separador2{
    margin-top: 50px;
    
}
article{
    top: 0px;
    position: absolute;

}

article{
    position: relative;
    width: 300px;
    transition: all .3s ease;
    margin: 20px;
    box-shadow: 0 60px 60px 10px rgba(10, 10, 16, 5);
}





article img:first-child{
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 100%;
} 

article img:last-child{
    position: absolute;
    width: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}
section.primero .separador article img:last-child{
    position: absolute;
    width: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}
article:hover{
    transform: perspective(250px) rotateX(10deg) translateY(-5%) rotateZ(0);
}

article::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0)95%);
    opacity: 0;
    transition: all .3s ease;
}
article:hover::before{
    opacity: 1;
}

article:hover img:last-child{
    opacity: 1;
    transform:translateY(10%) rotatex(-10deg)
}

section.primero .separador article img:last-child{
    opacity: 0;
    transform: scale(0.01);
    width: 900px;
}

.laMonjaSilueta2{

}


section.primero{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 300vh;
}

section.primero .separador{
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 50px;
}

section.primero article img:last-child{

}

article.uno img:last-child{
    display: flex;
    position: relative;
    margin: 0;
    right: 50%;
}




section.dos{
    z-index: 100;
    background-color: black;
}

.info{
    background-color: black;
    z-index: 1000;
    color: white;
}