body {
    height: 100vh;
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 300px;
    filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.8));

}

#yes:active {
    background: #632D5D;
}

#no:active {
    background: black;
}

.container {
    top: 100px;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: block;
    position: relative;
    align-items: center;
    display: block ;
}
p{
    font-size: 20px;
    justify-content: center;
    font-weight: 900;
}

.uno {

    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
}

.mensaje {
    display: block;
    align-items: center;
    justify-content: center;

}

button {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    cursor: pointer;

    margin: 50px;
    transition: 0.5s;
    filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.8));
}



#yes:hover {
    background-color: #ffffff;
    color: #000000;
}

#no:hover {
    background-color: #ffffff;
    color: #000000;
}


#yes {
    background-color: #ff0000;
    color: rgb(240, 240, 255);
}

#no {
    background-color: #0008ff;
    color: aliceblue;
}

#yay {
    display: none;
    position: absolute;
    margin-top: 400px;
    font-weight: 900;
    font-size: 50px;

}

#yay1 {
    display: none;
    width: 160px;
    position: absolute;
    margin-top: -250px;

}

#can1 {
    width: 300px;
    display: none;
    scale: 0.5;
    transition: 0.5s;
}

#can {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
}


.corazones img {
    width: 70px;
}


.fondo {
    display: none;
    position: relative;
    top: -1000px;
    justify-content: center;
    align-items: center;
}

.corazon {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 20px;
    /* Ancho del contenedor */
    margin-right: 10px;
    /* Espacio entre contenedores */
    animation: desplazar 10s linear infinite;
    filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.8));

}

.corazon:nth-child(even) {
    width: 125px;
    transform: rotate(-100deg);
    top: 200px;
}

.corazon:nth-child(odd) {
    transform: rotate(100deg);
}

.corazon:nth-child(3n-1) {
    width: 50px;
    top: 100px;

}




@keyframes desplazar {
    from {
        transform: translateY(0%), rotate(100deg);
    }

    to {
        transform: translateY(200%);

    }
}


@media only screen and (max-width: 800px) {
    .corazon img {
        width: 30px;
    }

}