
*{

}
body{
    background-color: black;
    margin:0;
    padding: 0;
}
section{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

img{
    margin: 0;
    padding: 0;
    border: 10px;
    border-color: black;
    border-radius: 10px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    filter: blur(3px);

}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    filter: blur(0px);

}

