body, html {
    display: flex;
    margin: 0;
    height: 100%;

}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');



  .fondo {
    justify-content: flex-end;

    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca el fondo detrás del contenido */
  }

   

  .espacio {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: black; /* Establecer el fondo negro */

  }

  .contenido {
    display: block;
    margin:200px 0;
    font-family: 'Orbitron', sans-serif; /* Establecer la fuente Orbitron */
    position: absolute;
    padding: 40px;
    color: white; /* Texto blanco para resaltar sobre el fondo oscuro */
    /* Otros estilos para el contenido */
  }

  h1{
    font-size:90px;
    padding: 0;
    margin: 0;
  }

  p{
  }

  span{
    font-weight: 900;
    font-size: 15px;
  }

  img{
    
  }


  button{
    border: 1px solid white;
    background-color: transparent;
    margin: 25px 0;
    color: white; /* Color del texto */
    outline: none; /* Quita el borde al enfocar el botón */
    transition: background-color 0.3s, color 0.3s; /* Transición suave al pasar el mouse */
border-radius: 10px;
    display: flex;
    padding: 10px;
  }

  
  .asteroide {
    width: 2px; /* Tamaño inicial del asteroide */
    height: 2px; /* Tamaño inicial del asteroide */
    border-radius: 50%;
    background: radial-gradient(circle, yellow, white); /* Colores del asteroide */
    position: absolute;
    top: -20%; /* Comienzan fuera de la pantalla en la parte superior */
    animation: caida 5s linear infinite; /* Animación de movimiento */
  }
  
  @keyframes caida {
    to {
      transform: translateX(100vw) translateY(100vh) rotate(360deg); /* Movimiento de izquierda a derecha y abajo con rotación */
    }
  }
  